<h1>Welcome to Blackjack!</h1>
<p>Blackjack is a card game where you compete against the dealer in order to
get as close to twenty-one points as possible. If you go over twenty-one you are
bust and you lose! On your turn you can either twist or stick. Twisting adds a
card to your hand, whereas sticking ends your turn. After your turn it's the
dealers go and once their turn is complete you win if your score higher than the
dealer's.</p>
<form method="post" action="/game/new">
  <button type="submit">Start Game!</button>
</form>