<!doctype html>
<html lang="en-US">
<head>
  <title>Blackjack</title>
  <link rel="stylesheet" href="/stylesheets/blackjack.css" type="text/css">
</head>
<body>
  <% if session[:message] %>
    <p class="message"><%= session.delete(:message) %></p>
  <% end %>
  <%= yield %>
</body>
</html>
